@font-face {
  font-family: "MaisonNeueTHIN";
  src: url("../fonts/MaisonNeueTRIAL-Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MaisonNeueBOLD";
  src: url("../fonts/Maison\ Neue\ Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.light-side {
  width: 50vw;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.dark-side {
  position: absolute;
  width: 50vw;
  height: 100%;
  background-color: #000;
  z-index: -1;
}

.work-container {
  position: absolute;
  width: 25vw;
  height: 50vh;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
  z-index: 5;
}

.data-cursor-tracker-x {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 70vw;
  height: 50vh;
  transform: translate(-50%, -50%);
  z-index: 0;
  cursor: none;
}

.work-container:hover {
  transform: translate(-50%, -50%) scale(1.05);
  cursor: pointer;
  background-color: rgba(139, 139, 139, 0.5) !important;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: MaisonNeueBOLD;
  font-size: 30px;
  text-align: center;
}

.cursor-wrapper {
  font-family: "MaisonNeueTHIN";
  font-size: 30px;
  visibility: hidden;
  position: absolute;
  z-index: 100;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
  transition: color 0.3s ease-in-out;
  transition: visibility 1s ease-in-out;
  opacity: 0%;
}
